body {
margin: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    grid-template-areas: 'bee bee table';
    margin-left: 20px;
    margin-right: 20px;
}

#beeswarm {
    grid-area: bee;
    /* TODO: need to find better way of setting height */
    height: 850px; 
    width: 100%;
}

#story-div {
  grid-area: bee;
  height: 100%;
  width: 100%;
  background:white;
  opacity: 50%;
}

.storyBox {
  position: absolute;
	text-align: center;
	width: 100px;
	height: 50px;
	padding: 2px;
	fill: rgb(245, 245, 245);
	stroke: rgb(104, 100, 100);
	border-radius: 8px;
	pointer-events: none;
}

.hidden {
  visibility: hidden;
  pointer-events: none;
}

.wrapper-group {
    height: 100%;
    width: 100%;
}

#axis .dem {
    text-anchor: start;
}

#axis .rep {
    text-anchor: end;
}   

#axis .labs {
    text-anchor: middle;
}

.axis-line {
    stroke-width: 2pt;
    stroke: black;
}

#center-line {
    stroke-width: 1pt;
    stroke: grey;
}

.plot-labs {
    fill: grey;
}

circle.deselected {
    opacity: 65%;
    stroke: gray;
}

circle {
    opacity: 85%;
    stroke: black;
}

circle:hover{
  stroke-width: 2px;
}

div.tooltip {
	position: absolute;
	text-align: center;
	min-width: 60px;
	min-height: 28px;
	padding: 2px;
	background: rgb(245, 245, 245);
	stroke: rgb(104, 100, 100);
	border-radius: 8px;
	pointer-events: none;
}

.tooltip-header {
	font-size: 20px;
}

.tooltip-header {
	font-size: 20px;
}

table {
    display: block;
    grid-area: table;
    table-layout: fixed;
    line-height: 15px;
    font-size: 14px;
}

thead {
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  /* padding-right: 6px; */
  /* line-height: 10px; */
}

td.phrase{
  width: 30%
}

td.frequency{
  width: 30%
}

td.percentages{
  width: 30%
}

td.total{
  width: 10%
}

td svg {
  width: 100%;
  height: 30px;
}

/* from https://www.w3schools.com/howto/howto_css_switch.asp */

 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 